In [1]:
import numpy as np
import pandas as pd
import bokeh

C:\Users\Megha\anaconda3\lib\site-packages\pandas\core\computation\expressions.py:20: UserWarning: Pandas requires version '2.7.3' or newer of 'numexpr' (version '2.7.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED

In [2]:
#Yello Taxi Trip record - Nov 2022
df1=pd.read_parquet("yellow_tripdata_2022-11.parquet")

In [3]:
df1.head(10)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2022-11-01 00:51:22,2022-11-01 00:56:24,1.0,0.60,1.0,N,151,151,2,4.5,0.5,0.5,0.00,0.00,0.3,5.80,0.0,0.00
1,1,2022-11-01 00:39:43,2022-11-01 00:48:44,0.0,1.80,1.0,N,90,79,1,8.5,3.0,0.5,3.05,0.00,0.3,15.35,2.5,0.00
2,1,2022-11-01 00:55:01,2022-11-01 01:01:35,0.0,2.00,1.0,N,137,141,1,8.0,3.0,0.5,2.36,0.00,0.3,14.16,2.5,0.00
3,1,2022-11-01 00:24:49,2022-11-01 00:31:04,2.0,1.00,1.0,N,158,113,1,6.0,3.0,0.5,0.00,0.00,0.3,9.80,2.5,0.00
4,1,2022-11-01 00:37:32,2022-11-01 00:42:23,2.0,0.80,1.0,N,249,158,2,5.5,3.0,0.5,0.00,0.00,0.3,9.30,2.5,0.00
5,1,2022-11-01 00:48:53,2022-11-01 01:02:00,2.0,2.50,1.0,N,158,230,1,11.0,3.0,0.5,2.95,0.00,0.3,17.75,2.5,0.00
6,2,2022-11-01 00:13:50,2022-11-01 00:23:06,1.0,2.04,1.0,N,161,137,2,9.0,0.5,0.5,0.00,0.00,0.3,12.80,2.5,0.00
7,2,2022-11-01 00:07:31,2022-11-01 00:21:54,1.0,6.63,1.0,N,138,74,1,20.0,0.5,0.5,5.57,6.55,0.3,34.67,0.0,1.25
8,2,2022-11-01 00:47:57,2022-11-01 00:50:57,2.0,0.53,1.0,N,48,161,2,4.0,0.5,0.5,0.00,0.00,0.3,7.80,2.5,0.00
9,2,2022-11-01 00:37:05,2022-11-01 00:43:18,1.0,1.06,1.0,N,68,170,2,6.0,0.5,0.5,0.00,0.00,0.3,9.80,2.5,0.00

In [4]:
#checking for null value columns
df1.isna().sum()

VendorID                      0
tpep_pickup_datetime          0
tpep_dropoff_datetime         0
passenger_count          121958
trip_distance                 0
RatecodeID               121958
store_and_fwd_flag       121958
PULocationID                  0
DOLocationID                  0
payment_type                  0
fare_amount                   0
extra                         0
mta_tax                       0
tip_amount                    0
tolls_amount                  0
improvement_surcharge         0
total_amount                  0
congestion_surcharge     121958
airport_fee              121958
dtype: int64

In [5]:
#dropping null value columns
df1.dropna(inplace=True)

In [6]:
#checking for columns & datatype
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3130759 entries, 0 to 3130758
Data columns (total 19 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int64
 1   tpep_pickup_datetime   datetime64[ns]
 2   tpep_dropoff_datetime  datetime64[ns]
 3   passenger_count        float64
 4   trip_distance          float64
 5   RatecodeID             float64
 6   store_and_fwd_flag     object
 7   PULocationID           int64
 8   DOLocationID           int64
 9   payment_type           int64
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   float64
 18  airport_fee            float64
dtypes: datetime64[ns](2), float64(12), int64(4), object(1)
memory usage: 477.7+ MB

## linear_cmap_colorbar

In [83]:
from bokeh.models import ColorBar, ColumnDataSource
from bokeh.plotting import figure, show
from bokeh.transform import linear_cmap

In [85]:
x = df1["PULocationID"].head(2000)
x = x.values
y = df1["trip_distance"].head(2000)
y = y.values

In [106]:
source = ColumnDataSource(dict(x=x,y=y))

#creating figure
p = figure(width=800, height=800, x_axis_label='Passenger Location ID', y_axis_label='Trip Distance Measure', title="Linear color map based on NYC Yellow Taxi Data")

# use the field name of the column source
cmap = linear_cmap(field_name='y', palette="Spectral8", low=min(y), high=max(y))

p.scatter(x='x', y='y', color=cmap, size=15, source=source)

# pass the mapper's transform to the colorbar
color_bar = ColorBar(color_mapper=cmap['transform'], width=10)

p.add_layout(color_bar, 'right')

show(p)

## Output - https://drive.google.com/file/d/1lY0v4PLLNBbtT73_6DsWRZOkSJ_X3tXs/view?usp=share_link

## colormapped

In [8]:
countings = df1["passenger_count"].head(2000).value_counts()
countings = countings.values
countings

array([1442,  356,   96,   39,   27,   23,   17], dtype=int64)

In [9]:
passengers = df1["passenger_count"].unique()
passengers = [str(x) for x in passengers]
passengers

['1.0', '0.0', '2.0', '3.0', '4.0', '5.0', '6.0', '8.0', '7.0', '9.0']

In [10]:
passengers=['1.0', '0.0', '2.0', '3.0', '4.0', '5.0', '6.0']

In [11]:
from bokeh.models import ColumnDataSource
from bokeh.palettes import Bright6
from bokeh.plotting import figure, show
from bokeh.transform import factor_cmap

In [48]:
pp = passengers
cc = countings

source = ColumnDataSource(data=dict(pp=passengers, cc=countings))

p = figure(x_range=pp, height=800, toolbar_location=None, title="Color Mapped based on NYC Yellow Taxi Data")

p.vbar(x='pp', top='cc', width=0.9, source=source, legend_field="pp",
       line_color='white', fill_color=factor_cmap('pp', palette=Bright6, factors=pp))

p.xgrid.grid_line_color = None
p.y_range.start = 0
p.y_range.end = 1600
p.legend.orientation = "horizontal"
p.legend.location = "top_center"

show(p)

## Output - https://drive.google.com/file/d/1eT_neb97PTolyCRTOXwy-pPWXYh97jCi/view?usp=share_link

## color_mappers

In [28]:
fare = df1["fare_amount"].head(2000).values
fare

array([ 4.5,  8.5,  8. , ...,  3. ,  5. , 52. ])

In [29]:
tip = df1["tip_amount"].head(2000).values
tip

array([0.  , 3.05, 2.36, ..., 0.  , 1.76, 0.  ])

In [30]:
from bokeh.layouts import column, gridplot
from bokeh.models import ColorBar, ColumnDataSource, LinearColorMapper, LogColorMapper
from bokeh.plotting import figure, show
from bokeh.transform import transform

In [33]:
x = fare
y = tip
source = ColumnDataSource(dict(x=x, y=y))

def make_plot(mapper_type, palette):
    cls = LogColorMapper if mapper_type == "log" else LinearColorMapper
    mapper = cls(palette=palette, low=1, high=1000)

    p = figure(x_range=(1, 1000), title=f"{palette} with {mapper_type} mapping",
               toolbar_location=None, tools="", x_axis_type=mapper_type)
    p.scatter('x', 'y', alpha=0.8, source=source, color=transform('x', mapper))

    color_bar = ColorBar(color_mapper=mapper, padding=0,
                         ticker=p.xaxis.ticker, formatter=p.xaxis.formatter)
    p.add_layout(color_bar, 'below')

    return p

p1 = make_plot("linear", "Viridis256")
p2 = make_plot("log", "Viridis256")
p3 = make_plot("linear", "Viridis6")
p4 = make_plot("log", "Viridis6")

p5 = figure(x_range=(1, 1000), width=800, height=300, toolbar_location=None, tools="",
            title="Viridis256 with linear mapping, low/high = 200/800 = pink/grey")
mapper = LinearColorMapper(palette="Viridis256", low=200, high=800,
                           low_color="pink", high_color="darkgrey")
p5.scatter(x='x', y='y', alpha=0.8, source=source, color=transform('x', mapper))

grid =  gridplot([[p1, p2], [p3, p4]], width=400, height=300, toolbar_location=None)
show(column(grid, p5))

## Output - https://drive.google.com/file/d/140LJckIUXerEeAsFDcI_hdAbsckwl52U/view?usp=share_link

## slope

In [15]:
imp = df1["trip_distance"].head(2000).values
imp

array([0.6 , 1.8 , 2.  , ..., 0.08, 0.59, 0.  ])

In [17]:
cong = df1["DOLocationID"].head(2000).values
cong

array([151,  79, 141, ..., 114, 114,  79], dtype=int64)

In [10]:
from bokeh.models import Slope
from bokeh.plotting import figure, show

In [26]:
# linear equation parameters
slope, intercept = 2, 10

xpts = imp
ypts = cong

p = figure(width=800, height=800, x_axis_label='x', y_axis_label='y',
           background_fill_color="#fafafa")
p.y_range.start = 0

p.circle(xpts, ypts, color='violet', size=6, alpha=0.6, fill_color=None)

slope = Slope(gradient=slope, y_intercept=intercept,
              line_color='red', line_dash='dashed', line_width=4)

p.add_layout(slope)

show(p)

## Output - https://drive.google.com/file/d/1KDskFopSErX-ZNTsitqUMO1NLKTTHf_W/view?usp=share_link

## caliber

In [36]:
pul = df1["PULocationID"].head(2000).values
pul

array([151,  90, 137, ..., 114, 114,  79], dtype=int64)

In [37]:
pay = df1["payment_type"].head(2000).values
pay

array([2, 1, 1, ..., 4, 1, 2], dtype=int64)

In [34]:
from bokeh.plotting import curdoc, figure, show

In [39]:
x = pul
y = pay

curdoc().theme = 'caliber'

p = figure(title='caliber', width=800, height=800)
p.line(x, y)

show(p)

## Output - https://drive.google.com/file/d/1NYmi_MjZC_Gq8dm4NKOym3CheEzVJBLw/view?usp=share_link