In [41]:
import pandas as pd
import numpy as np
#Reading the parquet file using pandas
trips = pd.read_parquet('C:/Users/Arpita/Downloads/yellow_tripdata_2022-01.parquet',engine="auto",columns=None)

#deriving a new column of time taken for the trip
trips["total time taken"]=trips["tpep_dropoff_datetime"]-trips["tpep_pickup_datetime"]

from datetime import datetime
trips['Weekday_pickup'] =trips["tpep_pickup_datetime"].dt.strftime('%A')

#Taking the subset of first 70 rowws of the given data
df=trips.head(70)
#print(df)

#checking for the enries with null values
print(trips.info(null_counts=True))

#removing the null values
trips.dropna(how="any",inplace = True)

C:\Users\Arpita\AppData\Local\Temp\ipykernel_8256\4081441582.py:17: FutureWarning: null_counts is deprecated. Use show_counts instead
  print(trips.info(null_counts=True))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2463931 entries, 0 to 2463930
Data columns (total 21 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   VendorID               2463931 non-null  int64
 1   tpep_pickup_datetime   2463931 non-null  datetime64[ns]
 2   tpep_dropoff_datetime  2463931 non-null  datetime64[ns]
 3   passenger_count        2392428 non-null  float64
 4   trip_distance          2463931 non-null  float64
 5   RatecodeID             2392428 non-null  float64
 6   store_and_fwd_flag     2392428 non-null  object
 7   PULocationID           2463931 non-null  int64
 8   DOLocationID           2463931 non-null  int64
 9   payment_type           2463931 non-null  int64
 10  fare_amount            2463931 non-null  float64
 11  extra                  2463931 non-null  float64
 12  mta_tax                2463931 non-null  float64
 13  tip_amount             2463931 non-null  float64
 14  tolls_amount           2463931 non-null  float64
 15  improvement_surcharge  2463931 non-null  float64
 16  total_amount           2463931 non-null  float64
 17  congestion_surcharge   2392428 non-null  float64
 18  airport_fee            2392428 non-null  float64
 19  total time taken       2463931 non-null  timedelta64[ns]
 20  Weekday_pickup         2463931 non-null  object
dtypes: datetime64[ns](2), float64(12), int64(4), object(2), timedelta64[ns](1)
memory usage: 394.8+ MB
None

In [42]:

busydays = dict(trips.groupby(by="Weekday_pickup")["total time taken"].sum())
print(type(busydays["Thursday"]))

<class 'pandas._libs.tslibs.timedeltas.Timedelta'>

In [43]:
weekdays=busydays.keys()
busydays2={i: busydays[i].total_seconds()/(3600) for i in weekdays }
print(busydays2)

{'Friday': 86136.5075, 'Monday': 84549.2336111111, 'Saturday': 81962.26944444445, 'Sunday': 78360.00722222222, 'Thursday': 83047.21555555555, 'Tuesday': 73126.91694444444, 'Wednesday': 76679.83}

In [50]:
import pandas as pd
from bokeh.palettes import Bright6
from bokeh.plotting import figure, show
from bokeh.transform import factor_cmap


#from bokeh.sampledata.stocks import AAPL

#df = pd.DataFrame(AAPL)
#df['date'] = pd.to_datetime(df['date'])
x=list(busydays.keys())
y=list(busydays.values())


# create a new plot with a datetime axis type
p = figure(width=800, height=250, x_axis_type="datetime")

p.vbar(x=x, top=y, fill_color=factor_cmap(x, palette=Bright6, factors=x), alpha=0.5)

p.y_range.start = 70000

show(p)