In [10]:
import pandas as pd

In [11]:
#Reading the parquet file using pandas
trips = pd.read_parquet('C:/Users/Arpita/Downloads/yellow_tripdata_2022-01.parquet',engine="auto",columns=None)
#Taking the subset of first 70 rowws of the given data
df=trips.head(100)
#print(df)

In [12]:
#checking for the enries with null values
print(trips.info(null_counts=True))
#removing the null values
trips.dropna(how="any",inplace = True)
print(trips.info(null_counts=True))

C:\Users\Arpita\AppData\Local\Temp\ipykernel_14716\4046267192.py:2: FutureWarning: null_counts is deprecated. Use show_counts instead
  print(trips.info(null_counts=True))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2463931 entries, 0 to 2463930
Data columns (total 19 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   VendorID               2463931 non-null  int64
 1   tpep_pickup_datetime   2463931 non-null  datetime64[ns]
 2   tpep_dropoff_datetime  2463931 non-null  datetime64[ns]
 3   passenger_count        2392428 non-null  float64
 4   trip_distance          2463931 non-null  float64
 5   RatecodeID             2392428 non-null  float64
 6   store_and_fwd_flag     2392428 non-null  object
 7   PULocationID           2463931 non-null  int64
 8   DOLocationID           2463931 non-null  int64
 9   payment_type           2463931 non-null  int64
 10  fare_amount            2463931 non-null  float64
 11  extra                  2463931 non-null  float64
 12  mta_tax                2463931 non-null  float64
 13  tip_amount             2463931 non-null  float64
 14  tolls_amount           2463931 non-null  float64
 15  improvement_surcharge  2463931 non-null  float64
 16  total_amount           2463931 non-null  float64
 17  congestion_surcharge   2392428 non-null  float64
 18  airport_fee            2392428 non-null  float64
dtypes: datetime64[ns](2), float64(12), int64(4), object(1)
memory usage: 357.2+ MB
None

C:\Users\Arpita\AppData\Local\Temp\ipykernel_14716\4046267192.py:5: FutureWarning: null_counts is deprecated. Use show_counts instead
  print(trips.info(null_counts=True))

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2392428 entries, 0 to 2392427
Data columns (total 19 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   VendorID               2392428 non-null  int64
 1   tpep_pickup_datetime   2392428 non-null  datetime64[ns]
 2   tpep_dropoff_datetime  2392428 non-null  datetime64[ns]
 3   passenger_count        2392428 non-null  float64
 4   trip_distance          2392428 non-null  float64
 5   RatecodeID             2392428 non-null  float64
 6   store_and_fwd_flag     2392428 non-null  object
 7   PULocationID           2392428 non-null  int64
 8   DOLocationID           2392428 non-null  int64
 9   payment_type           2392428 non-null  int64
 10  fare_amount            2392428 non-null  float64
 11  extra                  2392428 non-null  float64
 12  mta_tax                2392428 non-null  float64
 13  tip_amount             2392428 non-null  float64
 14  tolls_amount           2392428 non-null  float64
 15  improvement_surcharge  2392428 non-null  float64
 16  total_amount           2392428 non-null  float64
 17  congestion_surcharge   2392428 non-null  float64
 18  airport_fee            2392428 non-null  float64
dtypes: datetime64[ns](2), float64(12), int64(4), object(1)
memory usage: 365.1+ MB
None

In [13]:
from datetime import datetime
trips['Weekday'] = trips["tpep_pickup_datetime"].dt.strftime('%A')
trips.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee,Weekday
0,1,2022-01-01 00:35:40,2022-01-01 00:53:29,2.0,3.80,1.0,N,142,236,1,14.5,3.0,0.5,3.65,0.0,0.3,21.95,2.5,0.0,Saturday
1,1,2022-01-01 00:33:43,2022-01-01 00:42:07,1.0,2.10,1.0,N,236,42,1,8.0,0.5,0.5,4.00,0.0,0.3,13.30,0.0,0.0,Saturday
2,2,2022-01-01 00:53:21,2022-01-01 01:02:19,1.0,0.97,1.0,N,166,166,1,7.5,0.5,0.5,1.76,0.0,0.3,10.56,0.0,0.0,Saturday
3,2,2022-01-01 00:25:21,2022-01-01 00:35:23,1.0,1.09,1.0,N,114,68,2,8.0,0.5,0.5,0.00,0.0,0.3,11.80,2.5,0.0,Saturday
4,2,2022-01-01 00:36:48,2022-01-01 01:14:20,1.0,4.30,1.0,N,68,163,1,23.5,0.5,0.5,3.00,0.0,0.3,30.30,2.5,0.0,Saturday

In [14]:

pay1={"Credit Card":0,"Cash":0,"No Change":0,"Dispute":0,"Unknown":0}
paymenttypes = {1:'Credit Card', 2:'Cash', 3:'No change', 4:'Dispute', 5:'Unknown'}
trips['payment_types_explicit']= trips['payment_type'].map(paymenttypes)

In [15]:
df=trips

In [ ]:
from bokeh.core.properties import value
from bokeh.plotting import ColumnDataSource, figure, show
from bokeh.transform import cumsum, factor_cmap

rows = pd.crosstab(df.Weekday, df.payment_types_explicit, aggfunc='sum', values=df.passenger_count, normalize="index")

source = ColumnDataSource(rows.T)

weekd = ["Monday","Tuesday","Wednesday","Thursday","Friday","Saturday","Sunday"]
pte = source.data["payment_types_explicit"]

p = figure(y_range=weekd, x_range=(-0.55, 1.2), height=600, width=1000, tools="",
           x_axis_location=None, toolbar_location=None, outline_line_color=None)
p.grid.grid_line_color = None
p.yaxis.fixed_location = 0
p.axis.major_tick_line_color = None
p.axis.major_label_text_color = None
p.axis.axis_line_color = "#4a4a4a"
p.axis.axis_line_width = 6

source.data["color"] = [ "#dadada","#dadada", "#4a4a4a", "#dadada","#4a4a4a","#dadada"]
for y in weekd:
    left, right = cumsum(y, include_zero=True), cumsum(y)

    p.hbar(y=value(y), left=left, right=right, source=source, height=0.9,
           color=factor_cmap("payment_types_explicit", "MediumContrast4", pte))

    pcts = source.data[y]
    source.data[f"{y} text"] = [f"{r}\n{x*100:0.1f}%" for r, x in zip(pte, pcts)]

    p.text(y=value(y), x=left, text=f"{y} text", source=source, x_offset=10,
           text_color="color", text_baseline="middle", text_font_size="12px")

totals = pd.crosstab(df.Weekday, df.payment_types_explicit, margins=True, aggfunc='sum',
                     values=df.passenger_count, normalize="columns").All

p.hbar(right=0, left=-totals, y=totals.index, height=0.9, color="#dadada")

text = [f"{name} ({totals.loc[name]*100:0.1f}%)" for name in weekd]
p.text(y=weekd, x=0, text=text, text_baseline="middle", text_align="right",
       x_offset=-12, text_color="#4a4a4a", text_font_size="15px",
       text_font_style="bold")

show(p)